{% extends "base.html" %}

{% block content %}
<div class="ranking-table-container">
    <h2>Рейтинг пользователей</h2>
    <table class="ranking-table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Никнейм</th>
                <th>Решено задач</th>
                <th>Рейтинг</th>
            </tr>
        </thead>
        <tbody>
            {% for rank in user_ranks %}
            <tr class="{{ loop.index % 2 == 0 and 'even' or 'odd' }}">
                <td>{{ loop.index }}</td>
                <td>{{ rank.username }}</td>
                <td>{{ rank.solved }}</td>
                <td>{{ rank.rank | round(2) }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
